

  a,
  button {
    cursor: pointer;
  }
  html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
  }
  body {
    font-style: normal;
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
    line-height: 24px;

  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;

  }
.bg-blue{
  background-color: #9edcf8;
}
.header{
    background-color: #29a7e3;
    padding:10px;
}
.text-white{
    color:white;
}
.text-center{
    text-align: center;
}

section{
    padding:30px;
}
.section-title h3{
    font-size:25px;
    padding:10px;
}
.mb-4{
    margin-bottom:4px;
}
.p-10{
    padding:10px;
}
label{
    font-size:16px;
    margin:10px;
}
.mt-10{
    margin-top:10px;
}
form.well{
    height:300px !important;
}
.section-title h3{
  color:rgb(4, 43, 94);
}